.container{
    width: auto;
    height: auto;
}

/* Mobile */
@media (max-width:700px){
    .container{
        width:auto;
        height: auto;
    }
}

/*Tablet and Desktop*/
@media (min-width: 701px)  {
    .container{
        position: absolute;
        right: 10%;
        width: 40%;
        height:70%;
        padding-top: 70px;
}
}