*{
    scroll-behavior: smooth;
}

.container{
    background: linear-gradient( rgba(0, 0, 0, 1),  rgb(255, 255, 255));
}

.card-title{
    background-color: rgba(107, 105, 105, 0.2);
    width: 100%;
    font-weight: 700;
    letter-spacing: .1em;
}

.signup{

    
    .card{
        border: 1px solid grey;
        box-shadow: 5px 10px 10px 5px rgba(82, 81, 81, 0.1);
        background-color: rgba(248,248,255, 0.7);
    }
    
    .input-group{
        position: relative;
        background-color: white;
        
        input{
            width: 300px;
        }
    }
    .span{
        position: absolute;
        top:50%;
        transform: translateY(-50);
    }
}

.logos:hover{
    font-size: xx-large;
    transition: font-size .2s ease;
}

.signup-btn button:hover, button:focus{
    background-color: whitesmoke;
    border: 2px solid black;
    
}